h1{color: #ef10b0}
h2{color: #9513ec;
font-family: 'Pacifico', cursive;
}
 p{color: #00ff3e;
 font-family: 'Dancing Script', cursive;
 }
li{color: #19dde6;
font-family: 'Almendra Display', cursive;
}
body{background-color: #897e76}
